// Custom styles for GlobalNavbar
.p-menubar {
  &.surface-card {
    background: var(--surface-card);
  }

  .p-menubar-root-list {
    > .p-menuitem {
      > .p-menuitem-link {
        &:not(.p-disabled):hover {
          background: var(--surface-hover);
        }

        &.active {
          .p-menuitem-text,
          .p-menuitem-icon {
            color: var(--primary-color);
          }
        }
      }
    }
  }
}

// Responsive adjustments
@media screen and (max-width: 960px) {
  .p-menubar {
    .p-menubar-button {
      color: var(--text-color);
    }
  }
}
